---
import "@fontsource/poppins";
---

<div class="pt-6 sm:pt-4 sm:overflow-hidden bg-gradient-to-b from-[#E1FEFA] to-[#F5E6E300]" style="font-family: Poppins">
    <div class="px-4 mx-auto lg:px-8">
       <div class="md:items-center lg:grid lg:grid-cols-2 lg:content-center lg:gap-x-4">
        <div class="hidden lg:flex mt-12 sm:mx-16 sm:mt-16 lg:mt-0 lg:h-full lg:mx-auto lg:content-center">
            <img src="./kiffy.png" alt="kiffy" class="w-full"/>              
        </div>
        <form class="pb-5 static">  
            <div class="relative">
                <div class="flex flex-col justify-between">
                    <div class="space-y-5 sm:py-10 py-5 px-8 bg-base-100 rounded-xl shadow-lg">
                        <h1 class="font-semibold text-2xl text-[#17563C]">Have Questions or Feedback?</h1>
                        <label class="input input-bordered flex items-center gap-2">
                            <svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M11.3333 5C11.3333 7.20914 9.69171 9 7.66667 9C5.64162 9 4 7.20914 4 5C4 2.79086 5.64162 1 7.66667 1C8.63913 1 9.57176 1.42143 10.2594 2.17157C10.947 2.92172 11.3333 3.93913 11.3333 5Z" stroke="#8C8C8C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M1.25 15.0002C5.18055 12.3411 10.1528 12.3411 14.0833 15.0002" stroke="#8C8C8C" stroke-width="1.5" stroke-linecap="round"/>
                                </svg>                        
                            <input type="text" class="grow" placeholder="Name" />                 
                        </label>
                        <label class="input input-bordered flex items-center gap-2">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6962 9.00006C12.7274 10.7716 11.3177 12.2335 9.54621 12.2667C7.77426 12.2342 6.36383 10.772 6.39504 9.00006C6.36383 7.22855 7.77356 5.7666 9.54504 5.7334C11.317 5.76597 12.7274 7.2281 12.6962 9.00006Z" stroke="#8C8C8C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M16.6343 12.1299C15.9715 13.8319 14.7491 15.2575 13.1682 16.1724C11.6206 17.0616 9.80571 17.367 8.05234 17.0334C6.28367 16.687 4.69252 15.7313 3.556 14.3325C1.16275 11.3741 1.03208 7.18404 3.23634 4.08221C4.28273 2.60892 5.81005 1.54656 7.55534 1.07804C9.28003 0.624222 11.1103 0.804728 12.7132 1.58671C14.3473 2.39103 15.6566 3.73083 16.4232 5.38304L16.478 5.49971C17.311 7.40021 16.6787 10.633 14.665 10.633C13.5535 10.6082 12.6722 9.68773 12.6957 8.57621" stroke="#8C8C8C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                          
                            <input type="text" class="grow" placeholder="Email Address" />
                        </label>      
                        <form>
                            <div class="relative">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                                        <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
                                        <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
                                    </svg>
                                </div>
                                <textarea rows="4" class="pl-10 p-3 w-full text-sm rounded-lg border" placeholder="What would like to ask us or tell us?"></textarea>
                            </div>
                            <button class="bg-gradient-to-t from-[#ffc480] to-[#ffdba5] text-white font-semibold rounded p-1 w-full">
                                <span class="flex justify-center text-white rounded p-2 bg-gradient-to-t from-[#FF8E09] to-[#FCB347]">
                                Send Message
                                   </span>
                              </button>
                            <h1 class="text-[12px] font-normal">By using this form you agree with the storage and handling of your data 
                                by this website in accordance with our <span class="font-semibold text-[13px]"> Terms & Conditions and GDPR</span></h1>
                        
                        </form>

                        </div>
                </div>
        </form>
        </div>
          
       </div>
    </div>
</div>