---
import "@fontsource/poppins"
---
<footer class="pt-5  overflow-hidden" style="font-family: Poppins;">
    <div class="mx-auto max-w-7xl">
        <div class="flex items-center gap-4">
            <img src="./logo.png" alt="logo" class="size-1/6"/>

            <h1 class="text-sm text-black font-medium">Fox Eloading System is a modern eloading system that can operate in stand-alone eloading machine, messenger and SMS. Our goal is to make the loading process super easy and convenient. On top of that, we aim to provide business opportunities.</h1>
        </div>
    </div>
</footer>